/* styles1.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123cc6;
    padding: 15px;
    color: white;
}

.navbar-brand .logo {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff6347; /* Change color on hover */
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #333;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none; /* Hide menu by default */
    }

    .nav-links.active {
        display: flex; /* Show menu when active */
    }

    .hamburger {
        display: flex;
    }
}





.container {
    text-align: center; /* Centers text inside the container */
    background-color: #fff; /* White background for container */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    max-width: 600px; /* Maximum width for the container */
    width: 90%; /* Width for responsiveness */
    justify-content: center;
    justify-items: center;
    margin: auto;
}

iframe {
    margin-bottom: 20px; /* Space between iframe and text */
    max-width: 560%; /* Ensures the iframe is responsive */
    height: 315; /* Auto height to maintain aspect ratio */
}

p {
    font-size: 1em; /* Font size for paragraph */
    color: #333; /* Text color */
    margin-bottom: 20px; /* Space below the paragraph */
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    color: #444; /* Text color for headings */
    margin: 5px 0; /* Margin for headings */
    font-family: 'Times New Roman', Times, serif;
}
